*{
    margin: 0;
    padding: 0;
    border: 0;
}
html{
    overflow: hidden;
    min-width: 100vw;
    height: 100vh;
}
img{
    width: 200px;
    position: absolute;
    left: 300;
    top: 100;
}
.underwater-background{
    background-repeat: no-repeat;
    position: fixed;
    height: 100%;
    width: 120%;
    filter:blur(1.5px)
}
#canvas{
    position: absolute;
}
p{ 
    position: absolute;
    font-size: 1.5em;
    left: auto;
    right: 20px;
    top: 10px;
    display: inline;
    background-color: lightblue;
    border-radius: 6px;
    padding: 2vh 4vh;
}
span{
    background-color: #d6eae8;
    padding: 0px 9px;
    border-radius: 7px;
}